<html>
<head>
    <script src="https://unpkg.com/vue"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</head>
<body>
	<h1>
		{[{ .title }]}
	</h1>
    <div id="app">
        <p>Personnummer</p>
        <input type="text" name="ssn" id="ssn" v-model="ssn" placeholder="edit me" />
        <button v-on:click="authenticate">Skicka</button>

        {{ ssn }}
        {{ orderRef }}
        {{ message }}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ssn: '',
                orderRef: '',
                message: 'Hello Vue!'
            },
            methods: {
                authenticate: function() {
                    $.get('/authenticate', function(response) {
                        this.orderRef = response;

                        setTimeout(function() {
                            this.collect(response);
                        }.bind(this), 2000);
                    }.bind(this));
                },
                collect: function(orderRef) {
                    $.get('/collect?orderref=' + orderRef, function(response) {
                        console.log(response);
                        this.message = response;
                        if (response.status != "COMPLETE") {
                            setTimeout(function() {
                                this.collect(orderRef);
                            }.bind(this), 2000);
                        }
                    }.bind(this));
                }
            }
        })
    </script>
</body>
</html>